<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Анализатор текста{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'ico.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% if user.is_authenticated %}
<nav>
    <a href="/">Главная</a> |
    <a href="{% url 'change_password' %}">Сменить пароль</a> |
    <a href="{% url 'delete_account' %}">Удалить аккаунт</a> |
    <a href="{% url 'logout' %}">Выйти</a>
</nav>
{% else %}
<nav>
    <a href="{% url 'login' %}">Вход</a> |
    <a href="{% url 'register' %}">Регистрация</a>
</nav>
{% endif %}

</head>
<body>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="container">
        <header>
            <h1>Анализатор текста</h1>
        </header>
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <p>Владислав Похарьков</p>
        </footer>
    </div>
</body>
</html>